.resize-drag {
    /* background-color: #29e;
    color: white;
    font-size: 60%;
    font-family: sans-serif;

    /* padding: 1%; */
    /* margin: 5% 3%; */
  
    width: 30%;
    height: .01%;
    border-radius: 5%;
    /* This makes things *much* easier */
    /* box-sizing: border-box; */ 
  }
  a {
    color:blue;
}
a:hover {
  color: hotpink;
}
  .N_Button{
    border-radius: 8px;
        background-color:lightseagreen;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    float: right;
    width: 15%;
    height:30%;
    margin-top: 3%;
    margin-right: 2%;

  }
  .resize-container {
     margin-top: 3%;
    background-color:lightpink;
    border-radius: 5%;
    display: inline-block;
    width: 30%;
    height: 70%;
  }